# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
.env.*

# Node
node_modules/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
